html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

main {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;   
}

.panel {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 65%;
    max-width: 350px;
    padding-bottom: 2em;
    /* margin-bottom: 2em; */
}

.qrImage {
    border-radius: 15px;
    margin: 15px;
    margin-bottom: 0;
}

h1 {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    margin: 1em;
    line-height: 1.25;   
}

p {
    color:hsl(220, 15%, 55%);
    font-weight: 400;
    font-size: 15px;
    margin: 0 1em .5em 1em;
    letter-spacing: 1.5px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }